@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply box-border text-slate-800 bg-rose-100;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-400 rounded-xl;
}

button {
  margin: 0;
  padding: 0;
}

.task > ::-webkit-scrollbar-thumb{
  @apply bg-purple-400 rounded-xl;
}